@media (max-width: 800px) {
  #main h2 {
    text-align: center;
  }

  #coding section {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  #coding section div img {
    width: 25%;
    height: auto;
  }

  #coding section h2 {
    font-size: 2.6rem;
  }
}
